<form action="<?= base_url() ?>account/authenticate" method="post">
	<input type="email" name="email" placeholder="Enter your email address">
	<input type="password" name="password" placeholder="Enter your password"> 
	<input type="submit" name="submit" value="Login">
</form>